<h1>Clubs</h1>

<div class="container">
  <% if @clubs.count == 0 %>
    <h2>Sorry, no clubs here yet.</h2>
  <% else %>
    <div class="row">
      <%  @clubs.each do |club| %>
        <div class="col-4">
          <%= link_to club.name, club %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>