<h1>Leagues</h1>

<div class="container">
  <% if @leagues.count == 0 %>
    <h2>Sorry, no leagues here yet.</h2>
  <% else %>
    <div class="row">
      <% @leagues.each do |league| %>
        <div class="col-4">
          <%= link_to league.name, league %>
          -
          <%= league.clubs.count %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>