<h1><%= @league.name %></h1>
<h3>This league has <%= pluralize @league.clubs.count, 'club' %>.</h3>

<p><%= link_to 'Home', root_path %></p>

<div class="container">
  <% if @league.clubs.count == 0 %>
    <h2>Sorry, no clubs here yet.</h2>
  <% else %>
    <div class="row">
      <% @league.clubs.each do |club| %>
        <div class="col-4">
          <%= link_to club.name, club %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>