<h1><%= @league.name %></h1>
<h3>This league has <%= pluralize @league.clubs.count, 'club' %>.</h3>

<p><%= link_to 'Home', root_path %></p>

<% if @league.clubs.count == 0 %>
  <h2>Sorry, no clubs here yet.</h2>
<% else %>
  <ul>
    <% @league.clubs.each do |club| %>
      <li>
        <%= link_to club.name, club %>
      </li>
    <% end %>
  </ul>
<% end %>