<h1>Nationalities</h1>

<% if @nations.count == 0 %>
  <h2>Sorry, no nationalities here yet.</h2>
<% else %>
  <ul>
    <% @nations.each do |nation| %>
      <li>
        <%= image_tag ("/assets/flags/" + nation.img), alt: "Country Flag"%>
         -
        <%= link_to nation.name, nation %>
      </li>
    <% end %>
  </ul>
<% end %>


