<h1>Card Types</h1>

<% if @card_types.count == 0 %>
  <h2>Sorry, no card types here yet.</h2>
<% else %>
  <ul>
    <% @card_types.each do |c_t| %>
      <li>
        <%= link_to c_t.quality, c_t %>
      </li>
    <% end %>
  </ul>
<% end %>